@model SincolPDV.Dominio.Cliente

@{
    ViewBag.Title = "Details";
    Layout = null; 
}



<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header btn-primary">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title">Detalhes do produto</h3>
        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tp_pessoa)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tp_pessoa)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CPF)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CPF)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CNPJ)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CNPJ)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Telefone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Telefone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Sexo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Sexo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DtNascimento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DtNascimento)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </dl>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
    </div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->


